yo this is albumfest

<h2>Login</h2>
<form action="/login" method="post">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Login">
</form>


<h2>Sign up</h2>
<form action="/users/" method="post">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Sign up">
</form>

<h2>Albums</h2>
<div class="albums_container">
  <%=@albums%>
</div>
