<h1><%=@user.username%></h1>

<div class="albums_container">
  <% @user.albums.each do |album|%>
    <%= erb :_album, :locals => { :album => album } %>
  <% end %>
</div>



<% if current_user == @user %>
  <div>
    <h2> Create a new album </h2>
    <form action="/albums" method="post">
      <input type="text" name="name" placeholder="album name">
      <input type="text" name="description" placeholder="album description">
      <input type="submit" value="Add album">
    </form>
  </div>
<% end %>

